<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Primary Meta Tags -->
    <title>BISC'25 Prom</title>
    <meta name="title" content="BISC'25 Prom" />
    <meta
      name="description"
      content="Celebrate your graduation at our special prom night on September 15, 2025. Join us at the Army Golf Club. Register by September 5 to bring a plus-one and celebrate this milestone."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://bisc25.vercel.app/" />
    <meta property="og:title" content="BISC'25 Prom" />
    <meta
      property="og:description"
      content="Celebrate your graduation at our special prom night on September 15, 2025. Join us at the Army Golf Club. Register by September 5 to bring a plus-one and celebrate this milestone."
    />
    <meta property="og:image" content="/meta.png" />

    <!-- X (Twitter) -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://bisc25.vercel.app/" />
    <meta property="twitter:title" content="BISC'25 Prom" />
    <meta
      property="twitter:description"
      content="Celebrate your graduation at our special prom night on September 15, 2025. Join us at the Army Golf Club. Register by September 5 to bring a plus-one and celebrate this milestone."
    />
    <meta property="twitter:image" content="/meta.png" />
    <link rel="stylesheet" href="/styles/index.css" />
  </head>

  <body>
    <div class="container">
      <div class="logo-container">
        <img src="/logo.png" alt="BISC'25 Prom" class="logo" />
      </div>

      <main>
        <h1 class="heading">Registration</h1>

        <form action="/api/tokens" method="post">
          <div class="input">
            <b><label for="name">Your name:</label></b>
            <input type="text" name="name" required />
          </div>

          <div class="input">
            <b><label for="number">Your phone number:</label></b>
            <input type="number" name="number" required />
          </div>

          <div class="input">
            <b>
              <label style="color: #750d37" for="plus-one">
                Are you bringing a plus one?
              </label>
            </b>

            <select name="plusOne" required>
              <option value="false">No</option>

              <option value="true">Yes</option>
            </select>
          </div>

          <div class="plus-one">
            <div class="input">
              <b><label for="plus-one-name">Their name:</label></b>
              <input type="text" name="plusOneName" class="plus-one-name" />
            </div>
          </div>

          <div class="input">
            <b><label for="bkash">bKash Transaction ID (TXID): </label></b>
            <input type="text" name="transactionID" required />

            <p style="font-size: 14px">Send money to <b>01778840205</b></p>
          </div>

          <b>
            <p style="margin-block: 1rem">
              Due amount: <br />
              <span class="amount">৳2040</span>
            </p>
          </b>

          <button type="submit">Register</button>
        </form>
      </main>

      <div class="footer">
        Developed by
        <a href="https://nehanyaser.vercel.app/" target="_blank">Nehan Yaser</a>
      </div>
    </div>

    <script src="/scripts/index.js"></script>
  </body>
</html>
